.header-tips {
  margin-top: 70px;
  font-family: "Rowdies", cursive;
  font-size: 3rem;
}
.first-part {
  font-size: 1.2rem;
}
h1,
h4 {
  color: rgb(7, 72, 83);
}
.text-part {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tips-image-part {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.first,
.third {
  background-color: rgb(243, 243, 248);
}

@media only screen and (max-width: 900px) {
  .order1 {
    -webkit-order: 1;
  }
  .order2 {
    -webkit-order: 2;
  }
  .order3 {
    -webkit-order: 3;
  }
  .order4 {
    -webkit-order: 4;
  }
  .order5 {
    -webkit-order: 5;
  }
  .order6 {
    -webkit-order: 6;
  }
  .order7 {
    -webkit-order: 7;
  }
  .order8 {
    -webkit-order: 8;
  }
  .image-hover {
    width: 500px;
    height: auto;
  }
}
