.contact-part {
  margin-bottom: 35px;
}
.contacts,
.contacts-i {
  color: rgb(20, 137, 167);
  font-size: 17px;
}
.contacts-i {
  margin-top: 2px;
  margin-left: 6px;
}
a {
  color: black;
}
.header-contact {
  font-size: 250%;
  margin-top: 70px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
