html {
  height: 100vh;
}
.feedbackQuestion {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.questions {
  background-color: #efefef;
  margin: 1px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.question-block {
  display: flex;
  flex: 1;
  justify-content: center;
}
.question-part-result {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
