.result-part {
  margin: 0;
  font-family: "Rowdies", cursive;
  font-size: 1.3rem;
}
.picture-part {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.image-border {
  border-radius: 20px;
}
