.how {
  color: #212f3c;
  font-family: "Rowdies", cursive;
  margin-top: 70px;
}
.card-text {
  color: rgb(73, 74, 77);
  font-family: "Rowdies", cursive;
  font-size: 1.4rem;
}
.cards-part {
  margin-top: 3%;
  margin-bottom: 4%;
}
.card-button {
  font-size: 20px;
}
.head-card {
  font-family: "Rowdies", cursive;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0d739b;
}
a:hover,
a:link {
  text-decoration: none;
}
.go-second {
  width: 100px;
  position: absolute;
  top: 90%;
  left: 37%;
  cursor: pointer;
}
.go-second:hover {
  box-shadow: inset 0 0 0 2px #b4ecff;
  color: #e9f1f3 !important;
}
