.free-test {
  height: 100%;
  margin: 0 auto;
  font-size: 0.9rem;
  background-color: rgb(252, 254, 255);
}
h1 {
  color: rgb(0, 140, 255);
}
h3 {
  font-size: 2.4vh;
}
label {
  font-size: 2vh;
}
.test-part {
  max-width: 900px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.situation {
  max-width: 900px;
  color: rgb(37, 71, 121);
}
.situation-part {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.question-part {
  line-height: 1.5rem;
}

.image-situation {
  height: 60vh;
}
.questions {
  background-color: #efefef;
  margin: 1px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.questions-text {
  font-size: 1.3em;
}
.check-box {
  background-color: #dde7f3;
  margin: 1px;
  padding: 1vw;
}

.form-check-inline {
  margin-right: 0;
  padding: 0;
}
@media only screen and (min-width: 600px) {
  .free-test {
    min-width: 100%;
  }
  .questions {
    margin-right: 0;
  }
  .check-box {
    margin-left: 0;
  }
  .next-image {
    width: 90px;
  }
  .next {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .free-test {
    line-height: 1.5rem;
  }
  .image-situation {
    height: 40vh;
  }
  .next-image {
    width: 50px;
  }
  .questions {
    padding: 0;
  }
}
