.main {
  height: 100%;
  margin: 0;
  font-family: "Rowdies", cursive;
}
.video-part {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.header {
  font-size: 1.8rem;
}
.video-section {
  width: 60vw;
  margin-left: 3%;
}
